@use "../base/variables" as vars;
@use "../base/mixins" as mixins;

/*============== Footer ==============*/
.footer {
    background: var(--background-color-primary);

    &__body {
        @include mixins.flex-center($align-items: null, $justify-content: space-between);

        padding: 100px 0 38px;
    }

    // Column 1
    &__column:first-child {
        width: 23%;
    }

    &__copy-right {
        margin-top: 14px;
        font-size: var(--font-size-md);
        line-height: 1.75;
        color: var(--text-color-primary)
    }

    &__social {
        @include mixins.flex-center($justify-content: null);
        column-gap: 14px;

        margin-top: 18px;

        &-wrapper {
            @include mixins.flex-center();

            width: 36px;
            height: 36px;
            border-radius: 50%;
            background: var(--heading-color-primary);
            transition: background-color 0.3s ease;

            &:hover {
                background: var(--color-primary);
            }
        }

        &-icon {
            border-radius: 0;
        }
    }

    // Column
    &__heading {
        font-weight: 700;
        font-size: var(--font-size-item-heading);
        line-height: 1.5;
        color: var(--heading-color-primary);
    }

    &__list {
        margin-top: 24px;
    }

    &__item + &__item {
        margin-top: 16px;
    }

    &__link {
        font-size: var(--font-size-md);
        line-height: 1.75;
        color: var(--text-color-secondary);
        transition: color 0.3s ease;
        
        &:hover {
            color: var(--text-color-primary)
        }
    }

    // Column 5
    &__podcast {
        @include mixins.flex-center();
        column-gap: 16px;

        margin-top: 24px;

        &-icon {
            width: 36px;
            height: 36px;
        }
    }
}

/*============== Responsive Footer ==============*/
@media (max-width: 991.98px) {
    .footer {
        &__body {
            flex-direction: column;
            padding: 54px 0 50px;
        }

        &__column {

            &:first-child {
                width: 72%;
            }

            & + & {
                margin-top: 38px;
            }
        }

        &__podcast {
            justify-content: flex-start ;
        }

        &__link {
            display: block;
        }
    }
}